* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	color: white;
	background-color: #292929;
	font-size: 62.5%;
}

/* NAV ESTILOS */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 0;
	background-color: #2a3c97;
}

.container img {
	padding-right: 18px;
}

.container h1 {
	font-size: 4.2rem;
	color: #e4b892;
}

.container-form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	background-color: #373c65;
	font-size: 1.2rem;
}

.container-form button {
	padding: 10px 23px;
	font-weight: bold;
	color: white;
	background-color: #e2586f;
	border-radius: 8px;
	border: none;
}

.container-form select {
	padding: 10px 23px;
	border: 1px solid #9199c0;
	border-radius: 8px;
	background-color: #9199c0;
	color: white;
	margin-left: 25px;
}

.container-form input {
	padding: 10px 25px;
	border-radius: 8px;
	border: 1px solid #9199c0;
	background-color: #9199c0;
	margin: 0 7px;
}

.container-form input::placeholder {
	color: white;
}

/* SECTION ESTILOS */
section {
	height: 39rem;
	background-color: #e4b892;
	position: relative;
}
.container-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20rem;
	padding: 40px 10px;
}
.icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.icon input {
	margin-right: 10px;
}
.icon svg {
	margin-left: 15px;
}
.container-btn {
	position: absolute;
	top: 35rem;
	left: 40rem;
}
.container-btn button {
	padding: 10px 18px;
	border-radius: 8px;
	background-color: #ff8c4b;
	border: none;
	color: white;
	font-weight: 700;
	margin-left: 12px;
}
.container-btn select {
	padding: 10px 18px;
	border-radius: 8px;
	border: none;
	background-color: #9199c0;
	color: white;
}
